name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t bijaypachhai/intern-backend:stable -f Dockerfile.backend .

  push:

    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Push the Docker image
      env:
        DOCKERHUB_USER: ${{secrets.DOCKERHUB_USER}}
        DOCKERHUB_PASSWORD: ${{secrets.DOCKERHUB_PASSWORD}}
      run: |
        docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD
        docker push bijaypachhai/intern-backend:stable
        


      
